@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light";

.multiselect-native-select .btn-group {
    width: 100% !important;
}

.multiselect-native-select .dropdown-menu {
    width: 100% !important;
}

.multiselect-native-select .input-group-text {
    padding-top: 11px;
    padding-bottom: 11px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.multiselect {
    width: 100% !important;
}

.form-check-label-my {
    position: relative;
    bottom: -1.6px;
}

.pointer-badge{
    cursor: pointer;
}


.d-language-col .dropdown-language{
    height: 60px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px !important;
    margin-top: -2px !important;
}
.d-language-col .dropdown-language img{margin-right: 3px;}
.d-language-col .dropdown-language i{margin-left: 3px;margin-top: -2px;}



.contract-progress-col{
    display: flex;
    justify-content: center;
}
@media (max-width: 768px){
    .d-language-col{
        float: right !important;
        margin-right: 20px;
        border-left: 1px solid #e9ecef; padding-left: 20px !important;
    }
}

@media (max-width: 990px){
    .contract-progress-col {
        display: block  !important; 
        overflow-x: scroll !important;
    }
    /* .contract-progress-col .wizard-progress{
        width: 200px !important;
    } */
}




.count-input{
    font-size: 12px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select2-container--bootstrap .select2-selection--single{
    height: 38px !important;
    line-height:  26px !important;
}   

.file-upload{background-color:#fff;width:100%}.remove-image:active{border:0;transition:.2s}.file-upload-content{display:none;text-align:center}.file-upload-input{position:absolute;margin:0;padding:0;width:100%;height:100%;outline:0;opacity:0;cursor:pointer}.image-upload-wrap{border:2px dashed #08c;position:relative;transition:.3s;}.image-dropping,.image-upload-wrap:hover{background-color:#08c;border:2px solid rgb(111, 106, 106)}.image-upload-wrap:hover h3{color:#fff!important}.image-title-wrap{padding:0 15px 15px;color:#222}.drag-text{text-align:center}.drag-text h3{color:#155182;padding:60px 0; transition: all 0.3s;}.file-upload-pdf{width:100%;height:400px}.remove-image{width:200px;margin:0;color:#fff;background:#cd4535;border:none;padding:10px;border-radius:4px;border-bottom:4px solid #b02818;transition:.2s;outline:0;text-transform:uppercase;font-weight:700}.remove-image:hover{background:#c13b2a;color:#fff;transition:.2s;cursor:pointer}


.select2-container {
    width: 100% !important;
}


.table-head-position-sticky{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 999;
}